In [ ]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup 
import pandas as pd
import time

In [ ]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars New

In [17]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [18]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [19]:
# save the most recent article, title and date
news_p = soup.find("div", class_="article_teaser_body").text
news_title = soup.find("div", class_="content_title").text

print(f"Title: {news_title}")
print(f"Para: {news_p}")

Title: After a Reset, Curiosity Is Operating Normally
Para: NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer.

# JPL MARS

In [20]:
# URL of page to be scraped
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [21]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [22]:
featured_image_list = []

for image in soup.find_all('div',class_="img"):
    featured_image_list.append(image.find('img').get('src'))

In [23]:
#feature image
feature_Image = featured_image_list[0]

#feature image url 
feature_Image_url = "https://www.jpl.nasa.gov/" + feature_Image

feature_Image_dict = {"image": feature_Image_url}

# print feature image url 

print("Feature Image URL:", feature_Image_url)

Feature Image URL: https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA23047-640x350.jpg

# Mars Facts

In [24]:
# URL of page to be scraped
url = "http://space-facts.com/mars/"
browser.visit(url)

In [25]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [26]:
#Create Data Frame
table_df = pd.read_html(url)
table_df = table_df[0]
table_df.columns = ["Description", "Values"]
table_df.set_index(["Description"])
table_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [27]:
#Use Pandas to convert the data to a HTML table string
table_html = table_df.to_html()
table_html = table_html.replace("\n", "")
table_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [28]:
#website to obtain images
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [36]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [37]:

mars_hemisperes_title= []

for img_title in soup.find_all('div',class_="description"):
    mars_hemisperes_title.append(img_title.find('h3').text)

In [38]:
mars_hemisphere_image = []

for image in soup.find_all('div',class_="item"):
    
    url = "https://astrogeology.usgs.gov/"
    
    mars_hemisphere_image.append(url + image.find('img').get('src'))
    
mars_hemisphere_image

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png']